.movieBox {
    position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50dvh;
  height: 300px;
  
  background-color: gray;
  margin-right: 10px;
  margin-bottom: 30px;
}

.photo {
  height: 100px;
  
}